<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Page Title</title>
        <title>Flask Index Page</title>
    </head>

    <body>
        <h1>Welcome to my flask web page!</h1>
        <p>This is a simple web page served by Flask on port 5000.</p>
        <p>Nginx is a software that acts as a middleman between your computer and web servers. 
            It helps manage incoming web traffic and can perform various tasks like serving web pages,
             handling SSL encryption, and more. One of its key features is acting as a reverse proxy.
            Imagine you're trying to access a website, but instead of connecting directly to that website, 
            your request goes to Nginx first. Nginx then forwards your request to the actual web server hosting the website, 
            retrieves the response, and sends it back to you. This way, the web server remains hidden from direct access, and 
            Nginx can help balance traffic, cache content, and improve security.</p>
    </body>
</html>